<div id="sbconsole" ng-controller="SnoopController"  ng-app="snoop">
	<div class="alert" ng-class="m.error && 'alert-error' || 'alert-success'" ra-fade-out ng-repeat="m in messages" ng-bind-template="{{ m.text }}"></div>
	
	<div class="container-fluid">
  	<div class="row-fluid">
  
  		<div class="span3 well">
			<ul class="nav nav-list">
				<li>Basics</li>
				<li>Headers</li>
				<li>Cookies</li>
  			</ul>
		</div>
  		<div class="span9">
  			<h3>Basics</h3>
  			<table class="table table-striped table-bordered">
  			<thead>
  				<tr>
  					<th>Name</th>
  					<th>Value</th>
  				</tr>
  				</thead>
  				<tbody>
  				<tr ng-repeat="(k,v) in snoop.basics">
  					<td>{{ k }} </td>
  					<td>{{ v }} </td>
  				</tr>
  				</tbody>
  			</table>
  			<h3>Cookies</h3>
  			<table class="table table-striped table-bordered">
  			<thead>
  				<tr>
  					<th>Name</th>
  					<th>Path</th>
  					<th>Domain</th>
  					<th>Value</th>
  				</tr>
  				</thead>
  				<tbody>
  				<tr ng-repeat="c in snoop.cookies">
  					<td>{{ c.name }} </td>
  					<td>{{ c.path }} </td>
  					<td>{{ c.domain }} </td>
  					<td>{{ c.value }} </td>
  				</tr>
  				</tbody>
  			</table>
			<h3>Headers</h3>
  			<table class="table table-striped table-bordered">
  			<thead>
  				<tr>
  					<th>Name</th>
  					<th>Value</th>
  				</tr>
  				</thead>
  				<tbody>
  				<tr ng-repeat="h in snoop.headers">
  					<td>{{ h.name }} </td>
  					<td>{{ h.value }} </td>
  				</tr>
  				</tbody>
  			</table>  			
		</div>
		
	</div>
	
	</div>
	</div>

<script type='text/javascript' src="${oscarContextPath}${oscarServletPath}/ui/angular/app.js"></script>
</div>

