<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	       http://www.springframework.org/schema/util 
	       http://www.springframework.org/schema/util/spring-util-3.0.xsd
	       http://www.springframework.org/schema/jee 
	       http://www.springframework.org/schema/jee/spring-jee-3.0.xsd">
	
	<bean id="responsibilityService" class="org.mockito.Mockito" factory-method="mock">
		<constructor-arg value="com.railinc.r2dq.responsibility.ResponsibilityServiceImpl"/>
	</bean>
	<bean id="messageService" class="org.mockito.Mockito" factory-method="mock">
		<constructor-arg value="com.railinc.r2dq.messages.MessageServiceImpl"/>
	</bean>
	<bean id="dataExceptionService" class="org.mockito.Mockito" factory-method="mock" >
		<constructor-arg value="com.railinc.r2dq.dataexception.DataExceptionServiceImpl"/>
	</bean>
	<bean id="sourceSystemService" class="org.mockito.Mockito" factory-method="mock" > 
		<constructor-arg value="com.railinc.r2dq.sourcesystem.SourceSystemServiceImpl"/>
	</bean>
	
	<bean id="taskService" class="org.mockito.Mockito" factory-method="mock" > 
		<constructor-arg value="com.railinc.r2dq.task.TaskServiceImpl"/>
	</bean>
	
	<bean id="systemAuditLogService" class="org.mockito.Mockito" factory-method="mock" >
		 <constructor-arg value="com.railinc.r2dq.log.SystemAuditLogServiceImpl"/>
	</bean>
	
	<bean id="mdmExceptionService" class="org.mockito.Mockito" factory-method="mock" >
		 <constructor-arg value="com.railinc.r2dq.mdm.MDMExceptionServiceImpl"/>
	</bean>
	
	<bean id="implementationService" class="org.mockito.Mockito" factory-method="mock" >
		<constructor-arg value="com.railinc.r2dq.implementation.ImplementationServiceImpl"/>
	</bean>

</beans>