form .required {
    font-weight: bold;
}
form .required label:after {
    color: #e32;
    content: '*';
    display:inline;
}

.remediation-actions {
	padding: 8px 35px 8px 14px;
	margin-bottom: 20px;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	background-color: white;
	border: 1px solid #fbeed5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.remediation-actions h3{
	font-size: 12pt;
	padding:0px;
	margin:0px;
	
}
.failing-assertion {
	padding: 8px 35px 8px 14px;
	margin-bottom: 20px;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.form-horizontal .control-text {
	padding-top:5px; 
	vertical-align:middle;
	display: inline-block;
	margin-bottom: 0;
}
.actual-value {
	font-weight:bold;
	color:#b94a48;
}
.expected-value {
	font-weight:bold;
	color:#468847;
}

table div.actions {
	float:right;
	clear:both;
	padding-left:10px;
	padding-bottom:10px;
}
table .audit-data {
	color:grey;
	text-align:right;
	clear:both;
}