<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	       http://www.springframework.org/schema/util 
	       http://www.springframework.org/schema/util/spring-util-3.0.xsd
	       http://www.springframework.org/schema/jee 
	       http://www.springframework.org/schema/jee/spring-jee-3.0.xsd">

	<jee:jndi-lookup id="mdmDataSource" jndi-name="jdbc/mdmDataSource" resource-ref="true" />
	<jee:jndi-lookup id="dataSource" jndi-name="jdbc/r2dqDataSource" resource-ref="true" />
	<!-- 	
		<jee:jndi-lookup id="mailSession" jndi-name="mail/mailSession" resource-ref="true" default-ref="defaultSession"/>
		<bean id="defaultSession" class="javax.mail.Session" factory-method="getInstance">
		<constructor-arg>
			<util:properties>
				<prop key="mail.host">maildev.railinc.com</prop>
			</util:properties>
		</constructor-arg>
	</bean> -->
	
	
	<!-- JNDI lookups, but add meaningful defaults. If you want to override these, you can do so in JNDI -->
	<jee:jndi-lookup id="r2dqSchema" jndi-name="env/r2dqSchema" resource-ref="true" default-value="R2DQ"/>
	<jee:jndi-lookup id="hibernateDialect" jndi-name="env/r2dqHibernateDialect" resource-ref="true" default-value="org.hibernate.dialect.Oracle10gDialect"/>
	<jee:jndi-lookup id="hibernateShowSql" jndi-name="env/r2dqHibernateShowSql" resource-ref="true" default-value="false"/>
	
	<!--  validate, none, update, create, create-drop -->
	<!-- http://stackoverflow.com/questions/438146/hibernate-hbm2ddl-auto-possible-values-and-what-they-do -->
	<jee:jndi-lookup id="hibernateHbm2ddlAuto" jndi-name="env/r2dqHibernateHbm2ddlAuto" resource-ref="true" default-value="none"/>
	<jee:jndi-lookup id="dataServicesUrl" jndi-name="chili.ssousers.url" resource-ref="true" default-value="http://datasvcs.railinc.com"/>


	<!-- stuff for batch -->
	<alias alias="batchDataSource" name="dataSource"/>
	<alias alias="batchSchemaName" name="r2dqSchema"/>
	
	<jee:jndi-lookup id="mqConnectionFactory" jndi-name="jms/r2dqConnectionFactory" resource-ref="true"/>
	<jee:jndi-lookup id="inboundDataExceptionsQueue" jndi-name="jms/r2dqInboundDataExceptionsQueue" resource-ref="true"/>
	<jee:jndi-lookup id="outboundNotificationServiceQueue" jndi-name="jms/r2dqOutboundNotificationServiceQueue" resource-ref="true"/>


	
	<jee:jndi-lookup id="controlM.RequestQueue" jndi-name="jms/r2dqControlMRequestQueue" resource-ref="true"/>
	<jee:jndi-lookup id="controlM.ResponseQueue" jndi-name="jms/r2dqControlMResponseQueue" resource-ref="true"/>
	<alias name="mqConnectionFactory" alias="controlM.ConnectionFactory"/>

	<!-- MDM JNDI Lookups -->
	<jee:jndi-lookup id="mdmSchema" jndi-name="env/mdmSchema" resource-ref="true" default-value="R2DQ"/>
	<jee:jndi-lookup id="mdmHibernateDialect" jndi-name="env/mdmHibernateDialect" resource-ref="true" default-value="org.hibernate.dialect.Oracle10gDialect"/>
	<jee:jndi-lookup id="mdmHibernateShowSql" jndi-name="env/mdmHibernateShowSql" resource-ref="true" default-value="false"/>
	<jee:jndi-lookup id="mdmHibernateHbm2ddlAuto" jndi-name="env/mdmHibernateHbm2ddlAuto" resource-ref="true" default-value="validate"/>
	<jee:jndi-lookup id="mdmDataExceptionStatusQueue" jndi-name="jms/r2dqMDMExceptionStatusQueue" resource-ref="true"/>

    
</beans>