<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:batch="http://www.springframework.org/schema/batch"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.railinc.com/schema/spring/util http://www.railinc.com/schema/spring/util/util.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
		http://www.springframework.org/schema/batch http://www.springframework.org/schema/batch/spring-batch.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">



	<batch:job id="job-task-notif">
		<batch:step id="jtn-gather-identities" next="jtn-singularize-identities">
			<batch:description>
			Find all identities for tasks that have not been notified.
			Then store the identities in a variable.
			</batch:description>
			<batch:tasklet>
				<batch:chunk commit-interval="25">
					<batch:reader>
						<bean class="com.railinc.r2dq.task.notify.UnnotifiedTaskReader" scope="step" p:sessionFactory-ref="sessionFactory" />
					</batch:reader>
					<batch:processor>
						<bean class="com.railinc.r2dq.task.notify.TaskIdentityProcessor" scope="step"/>
					</batch:processor>
					<batch:writer>
						<bean class="org.springframework.batch.item.file.FlatFileItemWriter" scope="step">
						    <property name="resource" value="file:#{systemProperties['java.io.tmpdir']}identities_#{jobParameters['RUNDATE']}.csv" />
						    <property name="lineAggregator">
						        <bean class="org.springframework.batch.item.file.transform.DelimitedLineAggregator">
						            <property name="delimiter" value=","/>
						            <property name="fieldExtractor">
						                <bean class="org.springframework.batch.item.file.transform.BeanWrapperFieldExtractor">
						                    <property name="names" value="type,id"/>
						                </bean>
						            </property>
						        </bean>
						    </property>
						</bean>
					</batch:writer>
				</batch:chunk>
			</batch:tasklet>	
		</batch:step>
		
		<!-- simplify and unify the identities -->
		<!-- take the ids and convert them to SsoUser and emailexternal only -->
		<batch:step id="jtn-singularize-identities" next="jtn-send-notifications">
			<batch:description>convert the ids to sso user identities and email identities only</batch:description>
			<batch:tasklet>
				<bean scope="step" class="com.railinc.r2dq.task.notify.SingularizeIdentitiesTasklet" 
					p:identityService-ref="identityService"
					p:resource="file:#{systemProperties['java.io.tmpdir']}identities_#{jobParameters['RUNDATE']}.csv"
					p:output="file:#{systemProperties['java.io.tmpdir']}singularized_#{jobParameters['RUNDATE']}.csv" />
			</batch:tasklet>
		</batch:step>
		
		
		<batch:step id="jtn-send-notifications" next="jtn-cleanup-1">	
			<batch:description>send notificaitons through the task service</batch:description>
			<batch:tasklet>
				<batch:chunk commit-interval="1">
					<batch:reader>
						<bean class="org.springframework.batch.item.file.FlatFileItemReader" scope="step">
							<property name="resource" value="file:#{systemProperties['java.io.tmpdir']}singularized_#{jobParameters['RUNDATE']}.csv"></property>
							<property name="lineMapper">
								<bean class="org.springframework.batch.item.file.mapping.DefaultLineMapper">
									<property name="lineTokenizer">
										<bean class="org.springframework.batch.item.file.transform.DelimitedLineTokenizer" p:delimiter="," p:names="type,id"/>
									</property>
									<property name="fieldSetMapper">
										<bean class="com.railinc.r2dq.task.notify.IdentityFieldSetMapper"/>
									</property>
								</bean>
							</property>
						</bean>
					</batch:reader>
					<batch:writer>
						<bean class="org.springframework.batch.item.adapter.ItemWriterAdapter" p:targetMethod="notifyUserOfTasks" p:targetObject-ref="taskService"/>
					</batch:writer>
				</batch:chunk>
			</batch:tasklet>
		</batch:step>
		<batch:step id="jtn-cleanup-1" next="jtn-cleanup-2">
			<batch:tasklet>
				<bean scope="step" class="com.railinc.batch.tasklet.delete.FileDeleteTasklet" p:throwExceptionOnError="false" p:sourceFileName="#{systemProperties['java.io.tmpdir']}singularized_#{jobParameters['RUNDATE']}.csv" />
			</batch:tasklet>
		</batch:step>
		<batch:step id="jtn-cleanup-2">
			<batch:tasklet>
				<bean scope="step" class="com.railinc.batch.tasklet.delete.FileDeleteTasklet" p:throwExceptionOnError="false" p:sourceFileName="#{systemProperties['java.io.tmpdir']}identities_#{jobParameters['RUNDATE']}.csv" />
			</batch:tasklet>
		</batch:step>
	</batch:job>
	

</beans>