<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	       http://www.springframework.org/schema/util 
	       http://www.springframework.org/schema/util/spring-util-3.0.xsd
	       http://www.springframework.org/schema/jee 
	       http://www.springframework.org/schema/jee/spring-jee-3.0.xsd">
	
	
	
	<bean id="messageSource" class="com.railinc.common.messages.I18nServiceBackedMessageSource" p:service-ref="i18nService" p:parentMessageSource-ref="propertiesMessageSource" scope="singleton"/>
	<bean id="propertiesMessageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basename" value="WEB-INF/messages" />
		<property name="defaultEncoding" value="UTF-8" />
		<property name="cacheSeconds" value="30"/>
	</bean>

	
	
	
	<bean abstract="true" id="hs" p:sessionFactory-ref="sessionFactory" />
	
	<bean id="messageService" class="com.railinc.r2dq.messages.MessageServiceImpl" parent="hs"
		p:queue-ref="exceptionsQueue" >
		<property name="jmsTemplate">
  			<bean class="org.springframework.jms.core.JmsTemplate" p:connectionFactory-ref="mqConnectionFactory"/> 
  		</property>
	</bean>
	
	<bean id="responsibilityService" class="com.railinc.r2dq.responsibility.ResponsibilityServiceImpl" parent="hs" />
	
	<bean id="dataExceptionService" class="com.railinc.r2dq.dataexception.DataExceptionServiceImpl" parent="hs" p:messageService-ref="messageService" p:implementDataExceptionService-ref="gwImplementDataExceptionService"/>
	
	<bean id="interceptorHibernatePersister" class="com.railinc.r2dq.integration.HibernatePersister" parent="hs"/>
	
	<bean id="sourceSystemService" class="com.railinc.r2dq.sourcesystem.SourceSystemServiceImpl" parent="hs" p:queueMonitor-ref="queueMonitor"/>
	<bean id="propertyService" class="com.railinc.r2dq.configuration.R2DQPropertyServiceImpl" parent="hs" />
	
	<bean id="taskService" class="com.railinc.r2dq.task.TaskServiceImpl" parent="hs" 
		p:identityService-ref="identityService" 
		p:taskToTaskViewTransformer-ref="taskToTaskViewTransformer" 
		p:dataExceptionService-ref="dataExceptionService" 
		p:correspondenceService-ref="gwCorrespondenceService"
		p:configurationService-ref="configurationService"
		p:sourceSystemService-ref="sourceSystemService" />
	
	<bean id="taskToTaskViewTransformer" class="com.railinc.r2dq.domain.views.TaskToView" p:dataExceptionService-ref="dataExceptionService"/>

	<bean id="userGroupService" class="com.railinc.r2dq.usergroup.UserGroupServiceImpl" parent="hs"/>
	<bean id="i18nService" class="com.railinc.r2dq.i18n.I18nServiceImpl" parent="hs"/>
	<util:list id="ssoUserIdentityResolvers">
		<bean class="com.railinc.r2dq.identity.resolvers.sso.SsoUserIdentityFunctionResolver"/>
		<bean class="com.railinc.r2dq.identity.resolvers.sso.SsoUserEmailIdentityResolver" p:singleSignOn-ref="singleSignOn" />
		<bean class="com.railinc.r2dq.identity.resolvers.sso.SsoUserLocalGroupIdentityResolver" p:userGroupService-ref="userGroupService"/>
		<bean class="com.railinc.r2dq.identity.resolvers.sso.SsoUserRoleIdentityResolver" p:singleSignOn-ref="singleSignOn" />
	</util:list>
	
	<bean id="emailToSsoUserLoginTransformer" class="com.railinc.r2dq.identity.resolvers.email.EmailToSsoUserLoginTransformer" p:singleSignOn-ref="singleSignOn" />
	<util:list id="emailIdentityResolvers">
		<bean class="com.railinc.r2dq.identity.resolvers.email.EmailIdentityFunctionResolver"/>
		<bean class="com.railinc.r2dq.identity.resolvers.email.EmailNestedIdentityResolver" 
			p:resolvers-ref="ssoUserIdentityResolvers" 
			p:emailToSsoUserLoginTransformer-ref="emailToSsoUserLoginTransformer"/>
	</util:list>
	
	<util:list id="identityExpanders">
		<bean class="com.railinc.r2dq.identity.expander.LocalUserGroupIdentityExpander" p:userGroupService-ref="userGroupService"/>
		<bean class="com.railinc.r2dq.identity.expander.SsoRoleIdentityExpander" p:singleSignOn-ref="singleSignOn" />
	</util:list>
	
	<util:list id="contactResolvers">
		<bean class="com.railinc.r2dq.identity.contact.SsoUserContactResolver" p:singleSignOn-ref="singleSignOn" />
		<bean class="com.railinc.r2dq.identity.contact.EmailContactResolver" p:singleSignOn-ref="singleSignOn" />
	</util:list>
	
	<bean id="identityService" class="com.railinc.r2dq.identity.BasicIdentityService" 
		p:ssoUserResolvers-ref="ssoUserIdentityResolvers"
		p:emailResolvers-ref="emailIdentityResolvers" 
		p:contactResolver-ref="contactResolvers"
		p:identityExpanders-ref="identityExpanders" />
		
		
	<bean id="systemAuditLogService" class="com.railinc.r2dq.log.SystemAuditLogServiceImpl" parent="hs"/>
	
	<bean id="mdmExceptionService" class="com.railinc.r2dq.mdm.MDMExceptionServiceImpl" p:sessionFactory-ref="mdmSessionFactory" />
	
		
	<bean id="configurationService" class="com.railinc.r2dq.configuration.R2DQConfigurationServiceImpl" p:propertyService-ref="propertyService"/>
	
	<bean id="implementationService" class="com.railinc.r2dq.implementation.ImplementationServiceImpl" parent="hs" />
	
	
		
</beans>