<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:int-stream="http://www.springframework.org/schema/integration/stream"
	xmlns:int-event="http://www.springframework.org/schema/integration/event"
	xmlns:jms="http://www.springframework.org/schema/jms"
	xsi:schemaLocation="http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms-3.2.xsd
	 	http://www.springframework.org/schema/integration/jms http://www.springframework.org/schema/integration/jms/spring-integration-jms.xsd
		http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration-2.2.xsd
		http://www.springframework.org/schema/integration/event http://www.springframework.org/schema/integration/event/spring-integration-event-2.2.xsd
		http://www.springframework.org/schema/integration/stream http://www.springframework.org/schema/integration/stream/spring-integration-stream-2.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	

	<bean id="flowErrorInterceptor" class="com.railinc.r2dq.integration.FlowErrorInterceptor"/>
	<int:publish-subscribe-channel id="handleExceptionsChannel">
		<int:interceptors>
			<int:ref bean="flowErrorInterceptor"/>
		</int:interceptors>
	</int:publish-subscribe-channel>
	
	<bean id="messagingExceptionToSystemAuditLogTransformer" class="com.railinc.r2dq.integration.MessagingExceptionToSystemAuditLogErrorEventTransformer" />
	
	<int:chain id="systemAuditLogErrorChain" input-channel="handleExceptionsChannel">
		<int:transformer ref="messagingExceptionToSystemAuditLogTransformer" method="apply"/>
		<int-event:outbound-channel-adapter />
	</int:chain>
	
	<int:router input-channel="handleExceptionsChannel" expression="payload.failedMessage.headers['FLOW_NAME']" default-output-channel="syserr" resolution-required="false">
			<int:mapping value="CREATE_DATA_EXCEPTION" channel="syserr"/>
	</int:router>
	
	<int:channel id="loggingChannel" />
	<int:channel-interceptor pattern="*" order="3">
	  <bean class="org.springframework.integration.channel.interceptor.WireTap">
	    <constructor-arg ref="loggingChannel" />
	  </bean>
	</int:channel-interceptor>
	<int:logging-channel-adapter channel="loggingChannel" level="DEBUG" log-full-message="true"/>
	
	
	<int-event:inbound-channel-adapter channel="systemAuditLogEventChannel" event-types="com.railinc.r2dq.log.SystemAuditLogEvent" error-channel="syserr"/>
	<int:channel id="systemAuditLogEventChannel" >
		<int:dispatcher task-executor="taskExecutor"/>
	</int:channel>
	<bean id="taskExecutor"  class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
    	<property name="corePoolSize" value="2"/>
	</bean>
	
	<int:payload-type-router input-channel="systemAuditLogEventChannel" default-output-channel="sysout">
		<int:mapping type="com.railinc.r2dq.log.SystemAuditLogTraceEvent" channel="systemAuditLogTraceEventChannel"/>
		<int:mapping type="com.railinc.r2dq.log.SystemAuditLogErrorEvent" channel="systemAuditLogErrorEventChannel"/>
	</int:payload-type-router>
	
	<int:channel id="systemAuditLogTraceEventChannel"/>
	<int:channel id="systemAuditLogErrorEventChannel"/>
	
	<int:chain id="systemAuditLogTraceEventChain" input-channel="systemAuditLogTraceEventChannel">
		<int:transformer >
			<bean class="com.railinc.r2dq.log.SystemAuditLogTraceEventToSystemAuditLogTransformer"/>
		</int:transformer>
		<int:service-activator ref="systemAuditLogService" method="save" />
	</int:chain>
	
	<int:chain id="systemAuditLogErrorEventChain" input-channel="systemAuditLogErrorEventChannel">
		<int:transformer >
			<bean class="com.railinc.r2dq.log.SystemAuditLogErrorEventToSystemAuditLogTransformer"/>
		</int:transformer>
		<int:service-activator ref="systemAuditLogService" method="save" />
	</int:chain>
	
	<int:channel id="syserr"/>
	<int:channel id="sysout"/>
	<int-stream:stdout-channel-adapter channel="sysout" />
	<int-stream:stderr-channel-adapter channel="syserr" />
</beans>