<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:int-stream="http://www.springframework.org/schema/integration/stream"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration-2.2.xsd
		http://www.railinc.com/schema/spring/util http://www.railinc.com/schema/spring/util/util.xsd
		http://www.springframework.org/schema/integration/stream http://www.springframework.org/schema/integration/stream/spring-integration-stream-2.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">


	<bean class="org.springframework.jmx.export.MBeanExporter" abstract="true" name="parentExporter">
		<property name="autodetectModeName" value="AUTODETECT_NONE"/>
		<property name="server" ref="mbeanserver" />
		<property name="registrationBehaviorName" value="REGISTRATION_REPLACE_EXISTING" />
	</bean>
	
	<bean parent="parentExporter">
		<property name="beans">
			<util:map>
				<entry key="railinc:application=r2dq,name=ControlMListener,type=Listener" value-ref="controlMListener" />
				
			</util:map>
		</property>
		<property name="assembler">
			<bean
				class="org.springframework.jmx.export.assembler.MethodNameBasedMBeanInfoAssembler">
				<property name="managedMethods">
					<value>start,stop,isRunning</value>
				</property>
			</bean>
		</property>
	</bean>

	<bean parent="parentExporter">
		<property name="beans">
			<util:map>
				<entry
					key="railinc:application=r2dq,name=DataSources,type=JmxServicabilityController">
					<bean class="com.railinc.serviceability.spring.JmxDataSourceExposingBean"
						scope="singleton" />
				</entry>
			</util:map>
		</property>
		<property name="assembler">
			<bean
				class="org.springframework.jmx.export.assembler.MethodNameBasedMBeanInfoAssembler">
				<property name="managedMethods">
					<value>getDataSourceNames,testDataSource,testDataSources,testDataSourceWithSQL
					</value>
				</property>
			</bean>
		</property>
	</bean>

	<bean parent="parentExporter">
		<property name="beans">
			<util:map>
				<entry key="railinc:application=r2dq,name=SingleSignOn,type=Client" value-ref="singleSignOn" />
				<entry key="railinc:application=r2dq,name=InboundDataExceptionsListener,type=Listener" value-ref="inboundDataExceptionsQueueListener" />
				<entry key="railinc:application=r2dq,name=MDMExceptionStatusQueueListener,type=Listener" value-ref="mdmExceptionStatusQueueListener" />
				<entry key="railinc:application=r2dq,name=MessageSource,type=Client" value-ref="messageSource"/>
				<entry key="railinc:application=r2dq,name=I18nService,type=Manager" value-ref="i18nService"/>
			</util:map>
		</property>
	</bean>


	<bean parent="parentExporter">
		<property name="beans">
			<util:map>
				<entry key="railinc:application=r2dq,name=Batch,type=Statistics"
					value-ref="springBatchStatistics" />
			</util:map>
		</property>
		<property name="assembler">
			<bean
				class="org.springframework.jmx.export.assembler.MetadataMBeanInfoAssembler">
				<property name="attributeSource">
					<bean
						class="org.springframework.jmx.export.annotation.AnnotationJmxAttributeSource" />
				</property>
			</bean>
		</property>
	</bean>

	<bean id="springBatchStatistics" class="com.railinc.serviceability.spring.SpringBatchStatistics"
		p:jobExplorer-ref="jobExplorer" p:jobOperator-ref="jobOperator" />
	
	<bean class="com.railinc.serviceability.monitoring.JdbcMonitoredComponent" id="monitoredComponentDataSource">
	  <constructor-arg index="0" value="dataSource"/>
	  <constructor-arg index="1" ref="dataSource"/>
	  <constructor-arg index="2" value="SELECT * FROM DUAL"/>
	</bean>
	<bean id="monitoredComponentMqConnection" class="com.railinc.r2dq.monitoring.MQConnectionFactoryMonitoredComponent" p:name="mqConnection" p:queueName-ref="inboundDataExceptionsQueue">
		<property name="queueMonitor" ref="queueMonitor"/>
  	</bean>
	
	
	<!-- export -->
	<bean id="wilyExporter" parent="parentExporter">
		<property name="beans">
			<util:map>
				<entry key="railinc:application=r2dq,name=DataSourceMonitor,type=CriticalMonitor">
					<bean class="com.railinc.serviceability.spring.MonitoredComponentJmxAdapter" p:component-ref="monitoredComponentDataSource"/>
				</entry>
				<entry key="railinc:application=r2dq,name=SsoClientMonitor,type=CriticalMonitor">
					<bean class="com.railinc.serviceability.spring.MonitoredComponentJmxAdapter" p:component-ref="singleSignOn"/>
				</entry>
				<entry key="railinc:application=r2dq,name=MQConnectionMonitor,type=Monitor">
					<bean class="com.railinc.serviceability.spring.MonitoredComponentJmxAdapter" p:component-ref="monitoredComponentMqConnection" />
				</entry>
			</util:map>
		</property>
	</bean>
	

</beans>